// FONTS

// Open Sans: 
// font-family: 'Open Sans', sans-serif;

// MyriadPro-BoldIt
// font-family: 'MyriadPro-BoldIt';

// ProximaNova
// font-family: 'ProximaNova'; (400, 700, 800)


// ProximaNova-BoldIt
// font-family: 'ProximaNova-BoldIt';

// Global classes:
// ".paragraph" - color: #292b2e, font-family: "Open Sans", font-size: 16px, font - weight: 400;
// ".underline-link" - color: #2e353f,font-family: "ProximaNova-BoldIt", font-size: 17px, font-weight: 700,text-decoration: underline; 
.paragraph {
    color: #292b2e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
}

.section-title {
    font-family: "ProximaNova";
    font-size: 36px;
    color: #2e353f;
    font-weight: 800;
}

.underline-link {
    color: #2e353f;
    font-family: "ProximaNova-BoldIt";
    font-size: 17px;
    font-weight: 700;
    text-decoration: underline;
    transition: all 0.5s ease;
    &:hover {
        color: #e72f38;
    }
}



// Global classes end

header {
    align-items: center;
    justify-content: space-between;
    .container {
        position: relative;
    }
}

.top-header {
    padding: 8px 0 10px;
    background-color: #f2f4f8;
    color: #5b5b5b;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.top-header-buttons {
    display: flex;
    align-items: center;
}

.top-header-buttons__bigbuttons {
    display: flex;
    align-items: center;
}

.top-header-menu__list {
    display: flex;
    align-items: center;
    li {
        a {
            transition: color 0.5s ease;
        }
        &:hover {
            a {
                color: #e72f38;
            }
        }
    }
    li:not(:last-child) {
        margin-right: 27px;
    }
}

.top-header-buttons__button {
    padding: 13px 23px 10px;
    font-family: 'ProximaNova-BoldIt';
    font-size: 17px;
    color: #fff;
    background: #e72f38;
    transition: all 0.5s ease;
    &:hover {
        background: #ff4949;
    }
    &:last-child {
        background: #334965;
        margin-left: 1px;
        &:hover {
            background: #667c99;
        }
    }
}

.top-header-buttons__search {
    padding: 0;
    display: block;
    width: 31px;
    height: 31px;
    background: #fff;
    border-radius: 50%;
    margin-left: 30px;
    transition: all 0.5s ease;
    &:hover {
        background: #ffcbce;
    }
    img {
        margin: 8px auto;
        width: 15px;
        height: 15px;
    }
}

.main-header {
    margin: 29px 0 32px;
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.adress {
    position: relative;
    a {
        font-size: 14px;
        line-height: 20px;
        display: block;
        &:last-child {
            color: #e72f38;
        }
    }
    &::before {
        content: '';
        display: block;
        width: 19px;
        height: 25px;
        position: absolute;
        top: 3px;
        left: -32px;
        background: url('../img/images-to-sprite/geo-icon.png');
    }
}

.work-time {
    position: relative;
    span {
        font-size: 14px;
        line-height: 20px;
        display: block;
    }
    &::before {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 3px;
        left: -37px;
        background: url('../img/images-to-sprite/clock.png');
    }
}

.press-to-call {
    a {
        color: #2e2f32;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        display: block;
        &:last-child {
            color: #e72f38;
            font-size: 18px;
            font-family: 'ProximaNova-BoldIt';
            text-decoration: underline;
            margin-top: 4px;
            transition: all 0.5s ease;
            &:hover {
                color: #2e353f;
            }
        }
    }
}

.dropdowns-header {
    background: #334965;
    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.partitions-select {
    .doors-button {
        &::before {
            content: '';
            display: block;
            width: 72px;
            height: 46px;
            background: url('../img/images-to-sprite/peregorodka2.png');
            margin-right: 12px;
        }
    }
}

.walls-select {
    .doors-button {
        &::before {
            content: '';
            display: block;
            width: 57px;
            height: 43px;
            background: url('../img/images-to-sprite/peregorodka1.png');
            margin-right: 28px;
        }
    }
}

.doors-button {
    width: 389px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 13px 34px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    span {
        font-family: 'ProximaNova-BoldIt';
        color: #ffffff;
        font-size: 20px;
    }
    &::before {
        content: '';
        display: block;
        width: 49px;
        height: 47px;
        background: url('../img/images-to-sprite/doors.png');
        margin-right: 29px;
    }
    &::after {
        content: '';
        display: block;
        width: 13px;
        height: 8px;
        background: url('../img/images-to-sprite/arrow-down.png');
        margin-left: auto;
    }
}

.dropdown-item {
    display: block;
    width: 389px;
    background: #334965;
    padding: 18px 21px 12px;
    border-bottom: 1px solid #475b74;
    &:hover {
        background: #e72f38;
    }
}

.doors-dropdown {
    display: none;
    position: absolute;
    z-index: 50;
    a {
        color: #fff;
    }
}

.doors-button.active {
    &::after {
        transform: rotate(180deg);
    }
    border-bottom: 1px solid #fff;
}

.partitions-select,
.walls-select {
    .doors-button {
        border-left: none;
    }
}

.forWhat {
    background: #f2f4f8;
    display: flex;
    align-items: center;
    position: relative;
}

body.scroll-lock {
    overflow: hidden;
}

.forWhat-image {
    width: 770px;
    height: 450px;
    background: url('../img/forWhat-image.jpg') no-repeat left top / contain;
    margin-left: auto;
}

.forWhat-offer {
    max-width: 431px;
    margin-left: auto;
    margin-right: -30px;
}

.forWhat-titles {
    margin-bottom: 24px;
}

.forWhat-titles {
    .section-title {
        line-height: 48px;
        &:last-child {
            font-size: 30px;
        }
    }
}

.forWhat-link {
    margin-top: 37px;
    display: flex;
    align-items: center;
    &::after {
        content: '';
        display: block;
        width: 12px;
        height: 10px;
        background: url('../img/images-to-sprite/arrow-right.png');
        margin-left: 6px;
    }
}

.more {
    padding: 81px 0 86px;
}

.more-title {
    color: #000;
    margin-bottom: 39px;
    max-width: 714px;
}

.more-text {
    font-size: 15.6px;
}

.more-link {
    display: flex;
    margin-top: 34px;
    align-items: center;
    &::after {
        content: '';
        display: block;
        margin-left: 6px;
        width: 12px;
        height: 10px;
        background: url('../img/images-to-sprite/arrow-right.png');
    }
}

.more-flexbox {
    display: flex;
    align-items: center;
    margin-top: 84px;
}

.more-item {
    width: 33.3%;
    background: #e72f38;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
        background: #e72f38c4;
    }
    .more-item__text-block {
        padding: 35px 0 40px;
        margin-left: 47px;
    }
    h3 {
        width: 182px;
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-bottom: 27px;
        font-family: 'ProximaNova-BoldIt';
        text-decoration: underline;
    }
    p {
        line-height: 24px;
        max-width: 173px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
    }
    &:first-child {
        .more-item__text-block {
            background: url('../img/cart1.png') no-repeat right bottom;
        }
    }
    &:nth-child(2) {
        background: #334965;
        .more-item__text-block {
            background: url('../img/cart2.png') no-repeat right bottom;
        }
        &:hover {
            background: #334965c2;
        }
    }
    &:last-child {
        .more-item__text-block {
            background: url('../img/cart3.png') no-repeat right bottom;
        }
    }
}

.tab-items {
    display: flex;
    align-items: center;
    a {
        color: #728094;
        text-decoration: underline;
        display: block;
        font-family: 'ProximaNovaExtraBoldIt';
        text-decoration: underline;
        font-size: 36px;
        &:not(:last-child) {
            margin-right: 33px;
        }
    }
    a.active {
        color: #000;
        text-decoration: none;
    }
}

.tab__item {
    margin-top: 37px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 24px;
    display: none;
}

.tab__item.active {
    display: flex;
}

#doors-tab.active {
    display: flex;
}

#walls-tab.active {
    display: flex;
}



.tab-card {
    box-shadow: 0 0 62px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding-bottom: 34px;
    text-align: center;
    margin-right: 15px;
    &:nth-child(4n + 4) {
        margin-right: 0;
    }
    a {
        display: block;
        text-align: center;
        max-width: 200px;
        color: #000000;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin: 30px auto 24px;
        transition: all 0.5s ease;
        &:hover {
            color: #e72f38;
        }
    }
    .pre-price {
        margin-bottom: 4px;
        display: block;
        color: #727272;
        font-size: 16px;
        text-align: center;
    }
    .price-number {
        font-size: 30px;
        font-weight: 700;
    }
    .price-units {
        font-size: 18px;
        font-weight: 700;
    }
    button {
        display: block;
        font-family: 'ProximaNova-BoldIt';
        color: #e72f38;
        font-size: 18px;
        background: none;
        padding: 13px 18px 11px;
        border: 1px solid #e72f38;
        margin: 36px auto 0;
        transition: all 0.5s ease;
        &:hover {
            background: #e72f38;
            color: #fff;
        }
    }
}

.whyWe {
    margin-top: 90px;
    .whyWe-wrap {
        display: flex;
        flex-wrap: wrap;
        row-gap: 53px;
        align-items: center;
        justify-content: space-between;
        margin-top: 47px;
    }
}

body {
    overflow-x: hidden !important;
}

.whyWe-wrap__item {
    display: flex;
    align-items: flex-start;
    flex: 0 0 506px;
    h3 {
        font-family: "ProximaNova";
        font-weight: 700;
        font-size: 18px;
        color: #000;
    }
    p {
        font-family: "ProximaNova", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #000;
        margin-top: 14px;
    }
    &:nth-child(1) {
        &::before {
            content: '';
            display: block;
            width: 62px;
            height: 58px;
            background: url('../img/images-to-sprite/factory.png');
        }
    }
    &:nth-child(2) {
        &::before {
            content: '';
            display: block;
            width: 53px;
            height: 50px;
            background: url('../img/images-to-sprite/wallet-icon.png');
        }
    }
    &:nth-child(3) {
        &::before {
            content: '';
            display: block;
            width: 56px;
            height: 58px;
            background: url('../img/images-to-sprite/man-icon.png');
            margin-top: 12px;
        }
    }
    &:nth-child(4) {
        &::before {
            content: '';
            display: block;
            width: 61px;
            height: 56px;
            background: url('../img/images-to-sprite/rocket.png');
            margin-top: 12px;
        }
    }
}

.whyWe-wrap__text-wrap {
    max-width: 397px;
    margin-left: 47px;
}

.video {
    margin-top: 94px;
}

.video-frame {
    width: 100% !important;
    height: 650px !important;
    margin-top: 44px;
}

.scheme {
    margin-top: 91px;
    .section-title {
        margin-bottom: 50px;
    }
}

.scheme-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scheme-wrap__item {
    transition: all 0.5s ease;
    cursor: pointer;
    width: 19.7%;
    height: 236px;
    padding: 51px 0 83px 32px;
    background: #ebeef4;
    position: relative;
}

.scheme-wrap__text-box {
    position: absolute;
    left: 32px;
    top: 51px;
    max-width: 166px;
    h3 {
        color: #000000;
        font-family: 'ProximaNova-BoldIt';
        font-size: 22px;
        transition: all 0.5s ease;
    }
    p {
        margin-top: 30px;
        color: #000000;
        font-size: 16px;
        transition: all 0.5s ease;
    }
}

.scheme-num {
    margin-left: 100px;
    font-family: 'ProximaNova';
    font-weight: 800;
    font-size: 150px;
    color: #fff;
    transition: all 0.5s ease;
}

.top-header-menu__item {
    a {
        color: #000;
    }
}

.form1 {
    margin-top: 85px;
}

.form-block {
    padding: 64px 0 69px;
    background-color: #e72f38;
    h2 {
        color: #fff;
        text-align: center;
        &:last-child {
            margin-top: 15px;
        }
    }
}

.form-block__text {
    color: #fff;
    font-weight: 600;
    max-width: 920px;
    text-align: center;
    margin: 41px auto 0;
    line-height: 25px;
}

.form1-wrap {
    margin-top: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 57px 96px 53px 108px;
    button {
        height: 41px;
        transition: all 0.5s ease;
        &:hover {
            background: #fff;
            color: #e72f38;
        }
    }
}

.form1-input {
    border: none;
    outline: none;
    background: #fff;
    height: 41px;
    width: 369px;
    padding-left: 16px;
}

.form-phone-link {
    display: block;
    color: #fff;
    font-size: 30px;
    font-family: "ProximaNova";
    font-weight: 700;
    text-align: center;
}

.feedback {
    padding: 89px 0 84px;
}

.flex-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        font-family: 'ProximaNova-BoldIt';
        color: #2e353f;
        text-decoration: underline;
        font-size: 17px;
        display: flex;
        align-items: center;
        transition: all 0.5s ease;
        &::after {
            content: '';
            display: block;
            width: 12px;
            height: 10px;
            background: url('../img/images-to-sprite/arrow-right.png');
            margin-left: 9px;
        }
        &:hover {
            color: #e72f38;
        }
    }
}

.feedback-cards {
    margin-top: 43px;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}

.feedback-cards__item {
    box-shadow: 0 0 62px rgba(0, 0, 0, 0.05);
    position: relative;
    height: 414px;
    .object-info {
        margin-top: 26px;
    }
    h3 {
        color: #000;
        font-weight: 600;
        max-width: 215px;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        &:last-child {
            margin-bottom: 8px;
            margin: 8px auto -55px;
        }
    }
    button {
        position: absolute;
        bottom: 27px;
        left: 50%;
        transform: translate(-50%,0);
    }
}

.feedback-slider {
    padding-bottom: 80px;
}

.feedback-slider-wrap {
    position: relative;
    margin-top: 41px;
    display: flex;
    .slick-track {
        display: flex;
    }
    .slick-list {
        overflow: hidden;
        width: 100%;
    }
    .slick-dots {
        position: absolute;
        display: flex;
        bottom: -67px;
        left: 50%;
        transform: translate(-50%, 0);
        li {
            button {
                display: block;
                width: 11px;
                height: 11px;
                border: none;
            }
            display: block;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            border: 1px solid #e72f38;
            &:not(:last-child) {
                margin-right: 6px;
            }
        }
        li.slick-active {
            background: #e72f38;
        }
    }
}

.feedback-slider-wrap__minItem {
    z-index: 100;
    display: block;
    width: 279px;
    .feedback-slider-wrap__plate {
        padding: 40px 0 35px;
        background: #fff;
        box-shadow: 0 0 22px rgba(0, 0, 0, 0.05);
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &:not(:last-child) {
        margin-right: 16px;
    }
}

.feedback-slider-wrap__text {
    margin-top: 31px;
    text-align: center;
    color: #000;
    h3 {
        font-weight: 600;
        font-size: 16px;
    }
    span {
        color: #727272;
    }
}

.feedback-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 110px auto 0;
    button {
        background-color: #e72f38;
        color: #fff;
        width: 264px;
        &:hover {
            background: #fff;
            border: 1px solid #e72f38;
            color: #e72f38;
        }
        &:first-child {
            margin-right: 3px;
        }
    }
}

.form2 {
    background: #334965;
    .form-block {
        background: url('../img/form-bg.png') no-repeat right bottom / cover;
    }
    button {
        background: #e72f38;
        border: #e72f38;
    }
}

.bottom-menu {
    padding: 66px 0 72px;
    .container {
        display: flex;
        align-items: flex-start;
        position: relative;
    }
}

.bottom-menu-item {
    h4 {
        color: #000000;
        font-family: 'ProximaNova-BoldIt';
        font-size: 18px;
        margin-bottom: 20px;
    }
    li {
        a {
            color: #3e4045;
            display: block;
            transition: all 0.5s ease;
            &:hover {
                color: #e72f38;
            }
        }
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

.bottom-menu-doors {
    margin-left: 84px;
    margin-right: 150px;
}

.bottom-menu-about {
    margin-right: 128px;
}

.form-bottonMenu {
    width: 506px;
    height: 41px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 48px;
    bottom: 18px;
    .search-input {
        width: 100%;
        height: 100%;
        background: #f2f4f8;
        border: none;
        padding-left: 17px;
    }
    button {
        display: block;
        height: 18px;
        padding: 0;
        border: none;
        width: 18px;
        background: url('../img/images-to-sprite/search.png') no-repeat center center;
        margin-left: -32px;
        transition: all 0.5s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.footer {
    padding: 52px 0 48px;
    background: #f2f4f8;
    .container {
        display: flex;
        align-items: flex-start;
    }
}

.footer-contacts__logo-link {
    display: block;
    width: 229px;
    height: 26px;
    margin-bottom: 24px;
    img {
        width: 100%;
    }
}

.footer-contacts__phone-wrap {
    span {
        color: #727272;
        font-size: 13px;
    }
    .footer-contacts__phone-num {
        display: block;
        margin-top: 6px;
        font-size: 24px;
        font-weight: 700;
        color: #000;
    }
    .footer-contacts__phone-order {
        display: block;
        margin-top: 8px;
        color: #e72f38;
        font-family: 'ProximaNova-BoldIt';
        font-size: 18px;
        text-decoration: underline;
        transition: all 0.5s ease;
        &:hover {
            color: #000;
        }
    }
}

.footer-adress {
    margin-left: 95px;
    margin-right: 103px;
    max-width: 192px;
    span {
        display: block;
        color: #727272;
        font-size: 13px;
        margin-bottom: 7px;
    }
    span:not(:first-child) {
        font-size: 16px;
        color: #000;
        transition: all 0.5s ease;
        display: block;
        &:hover {
            color: #e72f38;
        }
        span {
            display: block;
            font-size: 16px;
            color: #000;
            transition: all 0.5s ease;
        }
    }
    .footer-adress__moscow {
        margin-top: 12px;
    }
}

.footer-worktime__worktime {
    margin-bottom: 33px;
    .footer-worktime__title {
        display: block;
        color: #727272;
        font-size: 13px;
        margin-bottom: 7px;
    }
    span {
        color: #000000;
        display: block;
        &:nth-child(2) {
            margin-bottom: 4px;
        }
    }
}

.footer-worktime__email {
    span {
        display: block;
        color: #727272;
        font-size: 13px;
        margin-bottom: 7px;
    }
    a {
        color: #e72f38;
        transition: all 0.5s ease;
        &:hover {
            color: #000;
        }
    }
}

.footer-social {
    max-width: 228px;
    margin-left: auto;
    margin-right: 13px;
}

.footer-social__copyright {
    display: block;
    opacity: 0.8;
    color: #7c7a7a;
    font-family: "ProximaNova";
    font-size: 14px;
    font-weight: 700;
    span {
        display: block;
    }
}

.forWhat {
    overflow-x: hidden;
}

.footer-social__links-wrap {
    margin-top: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        display: block;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: 1px solid #334965;
        transition: all 0.5s ease;
        &:nth-child(1) {
            background: url('../img/images-to-sprite/vk.png') no-repeat center center;
            &:hover {
                transform: scale(1.05);
            }
        }
        &:nth-child(2) {
            background: url('../img/images-to-sprite/insta.png') no-repeat center center;
            &:hover {
                transform: scale(1.05);
            }
        }
        &:nth-child(3) {
            background: url('../img/images-to-sprite/fb.png') no-repeat center center;
            &:hover {
                transform: scale(1.05);
            }
        }
        &:nth-child(4) {
            background: url('../img/images-to-sprite/youtube.png') no-repeat center center;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.top-header {
    position: relative;
}

.burger.active {
    background: #e72f38;
    transition: all 0.5s ease;
    span {
        background: #fff;
        background: #e72f38;
        &::before {
            background: #fff;
            transform: rotate(45deg);
            top: 0;
            bottom: 0;
        }
        &::after {
            background: #fff;
            transform: rotate(-45deg);
            top: 0;
            bottom: 0;
        }
    }
}

.top-header-menu.active {
    right: 0;
}



.adress-moscow,
.adress-spb {
    color: #000000;
    display: block;
}

.footer-adress__spb,
.footer-adress__moscow {
    display: block;
    font-size: 16px !important;
    color: #000 !important;
}

.burger {
    display: none;
    border: none;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 1000px;
    padding: 0;
    position: absolute;
    right: 30px;
    z-index: 50000000;
    span {
        margin: 0 auto;
        width: 20px;
        height: 2px;
        display: block;
        background: #000;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: #000;
            position: absolute;
            right: 0;
            bottom: -5px;
        }
        &::after {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: #000;
            position: absolute;
            right: 0;
            bottom: 5px;
        }
    }
}

.header-search-block {
    display: flex;
    align-items: center;
}

.form-header-search {
    button {
        border-radius: 50%;
        background: #fff url('../img/images-to-sprite/search.png') no-repeat center center;
        height: 31px;
        width: 31px;
        transition: all 0.5s ease;
        z-index: 500;
        position: absolute;
        left: -100%;
    }
    .form-header-search-input {
        background: #fff;
        border-radius: 1000px;
        height: 31px;
        transition: all 0.5s ease;
        position: absolute;
        left: -100%;
    }
    overflow: hidden;
    width: 200px;
    height: 31px;
    left: 65px;
    top: 0px;
    transition: all 0.5s ease;
}

.header-search-block {
    position: relative;
    padding-right: 210px;
}

.form-header-search.active {
    .form-header-search-input {
        left: 0;
    }
    button {
        left: 100%;
    }
}

.form-header-search-input.active {
    left: 0;
}

.top-header-buttons__search.active {
    background: #e72f38;
}

.top-header-buttons {
    margin-left: 50px;
}

.top-header-buttons__bigbuttons {
    .top-header-buttons__button:last-child {
        width: 202px;
    }
}

.overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.671);
    z-index: 500000000;
}

.popup_1 {
    padding: 20px 10px;
    display: none;
    width: 30vw;
    height: auto;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000000000000000;
    button {
        border: none;
        position: absolute;
        right: 0;
        top: 20px;
        span {
            width: 20px;
            height: 2px;
            background: red;
            display: block;
        }
        span:first-child {
            transform: rotate(45deg);
        }
        span:last-child {
            transform: rotate(-45deg);
            margin-top: -2px;
        }
    }
}

.popup_1.active {
    display: block;
}

.overlay.active {
    display: block;
} 

.lb-number {
    display: none !important;
}

.scheme-wrap__item:hover {
    background: #e72f38;
    .scheme-wrap__text-box {
        h3, p {
            color: #fff !important;
        }
    }
    .scheme-num {
        color: #727272;
    }
}

.header-dropdowns-ad-gbl.active {
    left: 0;
}

.header-dropdowns-ad-gbl {
    transition: all 0.5s ease;
    padding-top: 40px;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 500000000000;
    width: 300px;
    height: 100vh;
    background: #f2f4f8;
    .dropdown-item {
        border: none;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    a {
        width: 100%;
        background: none;
        color: #000;
    }
    button {
        position: absolute;
        top: 20px;
        left: 0px;
        border: none;
        span {
            display: block;
            width: 20px;
            height: 2px;
            background: #ff4949;
            position: absolute;
            &:first-child {
                transform: rotate(45deg);
            }
            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }
}

.doors-button-adaptive {
    display: none;
}

.footer-adress__moscow:hover {
    span {
        color: #e72f38;
    }
}

.button-to-popup_2 {
    cursor: pointer;
}

.popup_1 {
    background: #f2f4f8;
    text-align: center;
}

textarea {
    font-family: 'ProximaNova';
    resize: none !important;
    border: none;
    outline: none;
    background: #fff;
    height: 41px;
    width: 369px;
    padding-left: 16px;
    height: 150px !important;
    font-size: 15px;
    &::placeholder {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #727272;
    }
}


.form-in-popup_1 {
    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    input {
        border: none;
        outline: none;
        background: #fff;
        height: 41px;
        width: 369px;
        padding-left: 16px;
    }
    button {
        position: static;
        background: #e72f38;
        border: 1px solid #e72f38;
        width: 280px;
        padding: 10px 15px;
        transition: all 0.5s ease;
        margin: 20px auto 0;
        &:hover {
            background: #fff;
            color: #e72f38;
        }
    }
}

.scroll-arrow {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e72f38;
    z-index: 5000;
    display: none;
    span {
        height: 20px;
        width: 2px;
        display: block;
        background: #fff;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        &::before {
            content: '';
            display: block;
            height: 10px;
            width: 2px;
            background: #fff;
            position: absolute;
            left: -3px;
            top: -2px;
            transform: rotate(45deg);
        }
        &::after {
            content: '';
            display: block;
            height: 10px;
            width: 2px;
            background: #fff;
            position: absolute;
            left: 3px;
            top: -2px;
            transform: rotate(-45deg);
        }
    }
}

.scroll-arrow.active {
    display: block;
}

.sub-offer {
    padding: 62px 0;
    p {
        color: #000;
        font-size: 15px !important;
        max-width: 1110px;
        margin-bottom: 35px;
    }
    a {
        display: flex;
        align-items: center;
        &::after {
            content: '';
            display: block;
            width: 12px;
            height: 10px;
            background: url('../img/images-to-sprite/arrow-right.png');
            margin-left: 8px;
        }
    }
}

.page-title {
    font-family: 'ProximaNova-BoldIt';
    font-size: 36px;
    color: #000000;
    margin-bottom: 30px;
    max-width: 712px;
}

.info-flexbox {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .info-slider {
        max-width: 639px;
        margin: 0 -15px;
        position: relative;
        .slick-prev,
        .slick-next {
            display: block;
            width: 41px;
            height: 41px;
            border-radius: 50%;
            background-color: #ffffff;
            opacity: 0.6;
            z-index: 50;
            position: absolute;
            bottom: 16px;
            padding: 0;
            bottom: 16px;
            font-size: 0;
            transition: all 0.5s ease;
            border: none;
            &::after {
                content: '';
                display: block;
                width: 16px;
                height: 13px;
                background: url('../img/images-to-sprite/slick-arrow.svg');
                top: 50%;
                left: 50%;
                transform: translate(65%, 0%);
            }
            &:hover {
                background: #e72f38;
            }
        }
        .slick-prev {
            left: 39px;
        }
        .slick-next {
            left: 97px;
            &::after {
                transform: rotate(180deg) translate(-65%, 0%);
            }
        }
        .slick-track {
            display: flex;
            align-items: center;
        }
        .slick-list {
            overflow: hidden;
        }
        .slick-slide {
            padding: 0 15px;
        }
    }
    .info-slider__slide {
        display: block;
        position: relative;
        width: 100%;
        img {
            width: 100%;
        }
        a {
            display: block;
            padding: 0;
            margin: 0;
            width: 41px;
            height: 41px;
            box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            opacity: 0.6;
            position: absolute;
            right: 20px;
            top: 18px;
            border-radius: 50%;
            transition: all 0.5s ease;
            border: none;
            &::after {
                content: '+';
                display: block;
                font-family: 'ProximaNova';
                font-weight: 700;
                color: #334965;
                font-size: 30px;
                opacity: 0.7;
                line-height: 43px;
                right: 14px;
                text-align: center;
            }
            &:hover {
                background: #e72f38;
            }
        }
    }
}

.info-offer {
    margin-left: 43px;
}

.info__numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__price {
    margin-right: 20px;
    .ghost-button {
        display: block;
        width: 228px;
        text-align: center;
    }
}

.info__dates {
    .ghost-button {
        display: block;
        width: 228px;
        text-align: center;
    }
    .info__price-text {
        span {
            color: #000 !important;
        }
    }
    a {
        color: #000;
        border: 1px solid #000;
        &:hover {
            background: #000;
            color: #fff;
        }
    }
}

.info__price-wrap {
    margin-bottom: 33px;
    .info__item-title {
        color: #727272;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        display: block;
        margin-bottom: 8px;
    }
    .info__price-text {
        display: block;
        color: #000000;
        font-family: "Open Sans";
        font-weight: 700;
        span {
            color: #e72f39;
            font-family: "ProximaNova";
            font-size: 30px;
            font-weight: 700;
        }
    }
}

.info__questions {
    margin-top: 66px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 33px;
    column-gap: 56px;
    justify-content: space-between;
}

.info__que-text {
    max-width: 161px;
    h5 {
        font-family: "ProximaNova";
        font-size: 18px;
        font-weight: 700;
        color: #000;
    }
    p {
        color: #2e353f;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin-top: 3px;
        span {
            display: block;
        }
    }
}

.info__que-item {
    display: flex;
    &:nth-child(1) {
        &::before {
            content: '';
            display: block;
            width: 44px;
            height: 41px;
            background: url('../img/images-to-sprite/wallet-icon-1.svg');
            margin-right: 23px;
            margin-top: -7px;
        }
    }
    &:nth-child(2) {
        &::before {
            content: '';
            display: block;
            width: 51px;
            height: 33px;
            background: url('../img/images-to-sprite/car-icon.png');
            margin-right: 23px;
        }
    }
    &:nth-child(3) {
        &::before {
            content: '';
            display: block;
            width: 46px;
            height: 46px;
            background: url('../img/images-to-sprite/man-icon-1.png');
            margin-right: 23px;
        }
    }
    &:nth-child(4) {
        &::before {
            content: '';
            display: block;
            width: 36px;
            height: 47px;
            background: url('../img/images-to-sprite/medal-icon.png');
            margin-right: 23px;
            margin-top: -8px;
        }
    }
}

.info__que-title-block {
    display: flex;
    align-items: center;
    position: relative;
    .toModal-btn {
        display: block;
        width: 18px;
        height: 18px;
        background-color: #e5e8ef;
        border-radius: 50%;
        font-family: "ProximaNova";
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        margin: 0 0 0 18px;
        padding: 0;
        color: #000;
        transition: all 0.5s ease;
        &:hover {
            background: #e72f39;
        }
    }
}

.popup_que {
    padding: 43px 63px 58px 50px;
    background: #fff;
    max-width: 557px;
    text-align: left;
    h3 {
        color: #000000;
        font-family: 'ProximaNova-BoldIt';
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    p {
        font-size: 15px;
        font-weight: 400;

    }
}

.form3 {
    margin-top: 27px;
    .form-block {
        background-color: #334965;
    }
    .form1-wrap {
        margin-top: 33px;
        margin-bottom: 0;
        button {
            background-color: #e72f38;
            border: none;
            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }
}

.popup_que {
    position: absolute;
    z-index: 500000000000000;
    left: 130px !important;
    top: -225px !important;
    width: 557px;
}

.glass {
    margin-top: 99px;
    h2 {
        color: #000;
    }
}

.glass-wrap {
    margin-top: 35px;
}

.glass-wrap__item {
    padding: 39px 0 0 41px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 0 24px 1px rgba(112, 116, 121, 0.12);
    background-color: #fff;
    img {
        margin-top: 32px;
    }
    &:not(:last-child) {
        margin-bottom: 46px;
    }
}

.glass-wrap__left {
    width: 570px;
    padding-right: 50px;
    .section-title {
        color: #728094;
        font-size: 30px;
    }
}

.glass-wrap__right {
    width: 580px;
    height: 100%;
    margin: -39px 0 0 auto;
    padding: 39px 44px 51px 40px;
    background-color: #ffffff;
    background-image: linear-gradient(86deg, rgba(230, 234, 241, 0.95) 0%, rgba(239, 242, 246, 0.95) 37%, rgba(255, 255, 255, 0.95) 100%);
    .section-title {
        font-size: 22px;
        color: #000;
        max-width: 360px;
    }
}

.glass-wrap__text-wrap {
    margin-top: 16px;
    h5 {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 6px;
    }
    p {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 15px;
        max-width: 510px;
        line-height: 24px;
    }
}

.glass-wrap__low-row {
    margin-top: 35px;
}

.glass-wrap__price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    span {
        font-size: 16px;
        color: #727272;
        span {
            color: #e72f38;
            font-size: 30px;
            font-family: 'ProximaNova', sans-serif;
            font-weight: 700;
            span {
                font-size: 18px;
                color: #000;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
            }
        }
    }
}

.glass-wrap__low-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
        margin-right: 52px;
    }
}

.variants {
    margin-top: 100px;
    h2 {
        color: #000;
    }
}

.vars-offer__text {
    margin-top: 0;
    margin-bottom: 0;
    &:first-child {
        margin-top: 30px !important;
    }
}

.vars-offer__text_first {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.vars-item {
    margin-top: 46px;
    padding-top: 44px;
    box-shadow: 0 0 24px 1px rgba(112, 116, 121, 0.12);
    h3 {
        font-family: 'ProximaNova-BoldIt', sans-serif;
        font-size: 22px;
        color: #010101;
        margin-left: 42px;
    }
}

.vars-item__flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    a {
        display: block;
        width: 32%;
        padding-bottom: 71px;
        transition: all 0.5s ease;
        &:hover {
            background: #fff7f7;
        }
        img {
            margin: 0 auto 22px;
            display: block;
            width: 100%;
        }
    }
}

.vars-item__text-wrap {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #727272;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    span {
        font-family: 'ProximaNova', sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #000;
    }
}

.materials {
    margin-top: 100px;
}

.materials-flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    a {
        display: block;
        height: 381px;
        box-shadow: 0 0 24px 1px rgba(112, 116, 121, 0.12);
        width: 279px;
        transition: all 0.5s ease;
        &:hover {
            background: #fff0f0;
        }
        img {
            width: 100%;
            margin-bottom: 40px;
            display: block;
        }
        span {
            max-width: 220px;
            color: #000000;
            font-family: "ProximaNova";
            font-size: 18px;
            font-weight: 700;
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.doors-section {
    margin-top: 100px;
}

.doors-sliders {
    margin-top: 40px;
    padding: 65px 92px 42px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 0 24px 1px rgba(112, 116, 121, 0.12);
}

.doors-sliders__toSlick {
    img {
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 208px;
        height: 458px;
    }
}

.doors-sliders__item {
    position: relative;
    .slick-track {
        display: flex;
    }
    .slick-slide {
        margin: 0 15px;
    }
    .slick-list {
        overflow: hidden;
        width: 254px !important;
    }
    .slickarrow {
        position: absolute;
        width: 41px;
        height: 41px;
        font-size: 0;
        box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        border-radius: 50%;
        opacity: 0.85;
        &::after {
            content: '';
            display: block;
            width: 16px;
            height: 13px;
            background: url('../img/images-to-sprite/slick-arrow.svg');
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            z-index: 50000;
        }
    }
    .slickprev {
        top: 39%;
        left: 10px;
    }
    .slicknext {
        top: 39%;
        right: 10px; 
        transform: rotate(180deg);
    }
    .slickprevvv,
    .slicknexttt {
        top: 35.8%;
    }
    span {
        margin-top: 28px;
        color: #000000;
        font-family: "ProximaNova", sans-serif;
        font-size: 18px;
        font-weight: 700;
        display: block;
        text-align: center;
        max-width: 254px;
        span {
            display: block;
            margin: 0;
        }
    }
}

.options {
    margin-top: 100px;
}

.options-wrap {
    margin-top: 41px;
    display: flex;
    flex-wrap: wrap;
    a {
        display: block;
        width: 33%;
        height: 292px;
        &:nth-child(1) {
            .options-wrap__forimage {
                background: url('../img/option-1.png') no-repeat right bottom;
                .text-block-opt {
                    width: 176px;
                }
            }
        }
        &:nth-child(2) {
            .options-wrap__forimage {
                background: url('../img/option-2.png') no-repeat right bottom;
                .text-block-opt {
                    width: 179px;
                }
            }
        }
        &:nth-child(3) {
            .options-wrap__forimage {
                background: url('../img/option-3.png') no-repeat right bottom;
                .text-block-opt {
                    width: 269px;
                }
            }
        }
        &:nth-child(4) {
            .options-wrap__forimage {
                background: url('../img/option-4.png') no-repeat right bottom;
                .text-block-opt {
                    width: 200px;
                }
            }
        }
        &:nth-child(5) {
            .options-wrap__forimage {
                background: url('../img/option-5.png') no-repeat right bottom;
                .text-block-opt {
                    width: 250px;
                }
            }
        }
        &:nth-child(6) {
            .options-wrap__forimage {
                background: url('../img/option-6.png') no-repeat right bottom;
                .text-block-opt {
                    width: 203px;
                }
            }
        }
        .options-wrap__forimage {
            width: 100%;
            height: 100%;
            padding: 45px 0 0 46px;
            .text-block-opt {
                h4 {
                    font-size: 22px;
                    font-family: 'ProximaNova-BoldIt';
                    color: #000000;
                }
                p {
                    font-weight: 400;
                    font-family: 'Open Sans', sans-serif;
                    color: #000000;
                    font-size: 15px;
                    margin-top: 20px;
                    span {
                        display: block;
                    }
                }
            }
        }
        &:nth-child(2n) {
            background: #e9edf4;
            transition: all 0.5s ease;
            &:hover {
                background: #dae5f8;
            }
        }
        &:nth-child(2n + 1) {
            background: #f2f4f8;
            transition: all 0.5s ease;
            &:hover {
                background: #dadcdf;
            }
        }
    }
}

.calculator {
    margin-top: 100px;
    .section-title {
        color: #000;
    }
}

.calc-flexbox {
    margin-top: 39px;
    display: flex;
    box-shadow: 0 0 24px 1px rgba(112, 116, 121, 0.12);
}

.how-to-buy {
    margin-top: 100px;
    h2 {
        color: #000;
    }
    p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 27px;
    }
}

.form33 {
    margin-top: 100px;
    background: #334965 url('../img/form3-bg.png') no-repeat center top / cover;
    .form-block {
        background: none;
    }
}